/* basic layout */

.years .button {
    position: fixed;
    top: 0;
    left: 0;
}

/*when years are hidden, need a button to go back*/

.years.small {
    min-height: auto;
    height: 0;
    overflow: hidden;
}
.years a {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    color: red;
}
.years a:hover {
    color: orange;
}
.years a:visited div{
    color: yellow;
}
.years_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.years .years_list {}
.animals .animal {
    min-height: 100vh;
    line-height: 50vw;
    text-align: center;
}

/* helpers */

.hide, a.hide, main.hide {
    display: none;
}

/*this controls year-cards when opened*/
.years_list a span {
    display: block;
    color: gold;
    min-width: 50vw;
    width: calc(100vw - 4rem);
    text-align: right;
}
.years_list a span:first-child {
    padding-top: .5rem;
    border-top: 1px solid red;
}
.years_list a span:last-child {
    padding-bottom: .5rem;
    border-bottom: 1px solid red;
}
.rat, .ox, .tiger, .rabbit, .dragon, .snake, .horse, .goat, .monkey, .rooster, .dog, .pig {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: contain;
}
.rat {
    background-image: url(svg/rat.svg);
}
.ox {
    background-image: url(svg/ox.svg);
}
.tiger {
    background-image: url(svg/tiger.svg);
}
.rabbit {
    background-image: url(svg/rabbit.svg);
}
.dragon {
    background-image: url(svg/dragon.svg);
}
.snake {
    background-image: url(svg/snake.svg);
}
.horse {
    background-image: url(svg/horse.svg);
}
.goat {
    background-image: url(svg/goat.svg);
}
.monkey {
    background-image: url(svg/monkey.svg);
}
.rooster {
    background-image: url(svg/rooster.svg);
}
.dog {
    background-image: url(svg/dog.svg);
}
.pig {
    background-image: url(svg/pig.svg);
}
