/* basic layout */

.years .button {
    position: fixed;
    top: 0;
    left: 0;
}

/*when years are hidden, need a button to go back*/

.years.small {
    min-height: auto;
    height: 0;
    overflow: hidden;
}
.years a {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    color: red;
}
.years a:hover {
    color: orange;
}
.years a:visited div{
    color: yellow;
}
.years_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*width: 100vw;*/
}
.years .years_list {}
.animals .animal {
    min-height: 100vh;
    line-height: 50vw;
    text-align: center;
}

/* helpers */

.hide, a.hide, main.hide {
    display: none;
}

/*this controls year-cards when opened*/
.years_list a span {
    display: block;
    color: gold;
    min-width: 50vw;
    width: calc(100vw - 2rem);
    text-align: right;
}
.years_list a span:first-child {
    padding-top: .5rem;
    /*border-top: 1px solid red;*/
}
.years_list a span:last-child {
    padding-bottom: .5rem;
    /*border-bottom: 1px solid red;*/
}

.card {
  position: relative;
}
.card span:nth-child(1):before {
  content: "animal";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(2):before {
  content: "starts";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(3):before {
  content: "end";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(4):before {
  content: "energy";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(5):before {
  content: "moves like";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(6):before {
  content: "hours";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(7):before {
  content: "fixed element";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(8):before {
  content: "intensity";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(9):before {
  content: "heavenly stem";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(10):before {
  content: "earthly_branch";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}

.card svg {
  pointer-events: none;
  min-height: 300px;
}
@media (min-width: 600px) {
  .card svg {
    float: left;
  }
}
.read_details {
}

svg[class^="icn--"]{
  fill: none;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg.water[class^="icn--"] {
   stroke: Turquoise!important;
}
svg.wood[class^="icn--"] {
   stroke: SpringGreen!important;
}
svg.earth[class^="icn--"] {
   stroke: #b6732f!important;
}
svg.metal[class^="icn--"] {
   stroke: Gainsboro!important;
}
svg.fire[class^="icn--"] {
   stroke: OrangeRed!important;
}
