/* basic layout */

html {
  font-size: 16px;
  box-sizing: border-box;
  font: caption;
  font-weight: 200;
  background-color: #161616;
  color: white;
  text-transform: uppercase;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding:0;
  margin:0;
}

body {

}

nav {
  display: block;
  margin: 0; padding:0;
  text-align: center;

}

.years .button {
  position: fixed;
  top: 0;
  left: 0;
}

.years {

  min-width: 100vw;
  min-height: 100vh;
  font-size: calc( 2vh + 2vw);

  display: flex;
  justify-content: center;
  align-items: center;

}


/* red frame */

.outer {
  width: 90vw;
	height: 90vh;

  -webkit-clip-path: polygon(0% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 100% 5%, 100% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 0% 95%);
  clip-path: polygon(0% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 100% 5%, 100% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 0% 95%);

  background-color: red;
}



.inner {
  margin-top:-1.5vh;
  margin-left:.5vw;
  width: 89vw;
	height: 89vh;
	background: black;
	-webkit-clip-path: polygon(0% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 100% 5%, 100% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 0% 95%);
clip-path: polygon0% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 100% 5%, 100% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 0% 95%);
}

/*when years are hidden, need a button to go back*/
.years.small {
  min-height: auto;
  height: 0;
  overflow: hidden;
}

.years a {
  display: inline-block;
  text-decoration: none;
  padding: .5rem 1rem;
  color: red;
}
.years a:hover {
  color: orange;
}


.years_links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  height: 96%;
  width: 96%;
  margin: 2vh 2vw;
}

.years .years_links {

}

.animals .animal {
  min-height: 100vh;
  font-size: calc( 6vh + 6vw);
  line-height: 50vh;
  text-align: center;
}



/* view visibility logic and animation */

main > * {
  display: none;
}

main > *:last-child {
  display: block;
}

@keyframes pulse {
  0% { transform: scale(0.25) }
  50% { transform: scale(1.05) }
  100% { transform: scale(1) }
}

main > *:target {
  display: block;
  animation: pulse 0.5s linear 1;
}

main > *:target ~ * {
  display: none;
}





/* helpers */
.hide,
a.hide,
main.hide {
  display: none!important;
}



.rat,
.buffalo,
.tiger,
.rabbit,
.dragon,
.snake,
.horse,
.goat,
.monkey,
.rooster,
.dog,
.pig
 {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: contain;
}

.rat{background-image: url(svg/1/rat.svg);}
.buffalo{background-image: url(svg/1/buffalo.svg);}
.tiger{background-image: url(svg/1/tiger.svg);}
.rabbit{background-image: url(svg/1/rabbit.svg);}
.dragon{background-image: url(svg/1/dragon.svg);}
.snake{background-image: url(svg/1/snake.svg);}
.horse{background-image: url(svg/1/horse.svg);}
.goat{background-image: url(svg/1/goat.svg);}
.monkey{background-image: url(svg/1/monkey.svg);}
.rooster{background-image: url(svg/1/rooster.svg);}
.dog{background-image: url(svg/1/dog.svg);}
.pig {background-image: url(svg/1/pig.svg);}
