/* basic layout */

.years .button {
    position: fixed;
    top: 0;
    left: 0;
}

/*when years are hidden, need a button to go back*/

.years.small {
    min-height: auto;
    height: 0;
    overflow: hidden;
}
.years a {
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    color: red;
}
.years a:hover {
    color: orange;
}
.years a:visited div{
    color: yellow;
}
.years_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.years .years_list {}
.animals .animal {
    min-height: 100vh;
    line-height: 50vw;
    text-align: center;
}

/* helpers */

.hide, a.hide, main.hide {
    display: none;
}

/*this controls year-cards when opened*/
.years_list a span {
    display: block;
    color: gold;
    min-width: 50vw;
    width: calc(100vw - 4rem);
    text-align: right;
}
.years_list a span:first-child {
    padding-top: .5rem;
    border-top: 1px solid red;
}
.years_list a span:last-child {
    padding-bottom: .5rem;
    border-bottom: 1px solid red;
}
/*#h_rat, #h_ox, #h_tiger, #h_rabbit, #h_dragon, #h_snake, #h_horse, #h_goat, #h_monkey, #h_rooster, #h_dog, #h_pig {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: contain;
}
#h_rat {
    background-image: url(svg/rat.svg);
}
#h_ox {
    background-image: url(svg/ox.svg);
}
#h_tiger {
    background-image: url(svg/tiger.svg);
}
#h_rabbit {
    background-image: url(svg/rabbit.svg);
}

#h_snake {
    background-image: url(svg/snake.svg);
}
#h_horse {
    background-image: url(svg/horse.svg);
}
#h_goat {
    background-image: url(svg/goat.svg);
}
#h_monkey {
    background-image: url(svg/monkey.svg);
}
#h_rooster {
    background-image: url(svg/rooster.svg);
}
#h_dog {
    background-image: url(svg/dog.svg);
}
#h_pig {
    background-image: url(svg/pig.svg);
}*/

.card span:nth-child(2):before {
  content: "animal";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(3):before {
  content: "starts";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(4):before {
  content: "end";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(5):before {
  content: "energy";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(6):before {
  content: "moves like";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(7):before {
  content: "hours";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(8):before {
  content: "fixed element";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(9):before {
  content: "intensity";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(10):before {
  content: "heavenly stem";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
.card span:nth-child(11):before {
  content: "earthly_branch";
  color: white;
  opacity: .5;
  font-size: 50%;
  padding-right: .5rem;
}
/*
#h_dragon.metal {
   background-image: url(svg/dragon.svg);
}
#h_dragon.metal svg {
   stroke: Gainsboro;
}

#h_dragon.wood {
   background-image: url(svg/dragon_w.svg);
}
#h_dragon.wood svg {
   stroke: MediumAquamarine;
}

#h_dragon.earth {
   background-image: url(svg/dragon_e.svg);
}
#h_dragon.earth svg {
   stroke: peru;
}



#h_dragon.fire {
   background-image: url(svg/dragon_f.svg);
}
#h_dragon.fire svg {
   stroke: OrangeRed;
}

#h_dragon.water {
   background-image: url(svg/dragon_wa.svg);
}
#h_dragon.water svg {
   stroke: Aquamarine;
}*/

svg[class^="icn--"]{
  stroke: pink;
  fill: none;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg[class^="icn--"].water svg {
   stroke: Aquamarine;
}
.icn--dragon {  stroke: red;}

.icn--snake {  stroke: blue;}

.icn--horse {  stroke: white;}
