<h1>{{header}}</h1>
{{#bug}}
{{/bug}}

{{#items}}
  {{#first}}
    <li><strong>{{year}} - {{animal}}</strong></li>
  {{/first}}
  {{#link}}
    <li><a href="#{{animal}}">{{year}}</a></li>
  {{/link}}
{{/items}}
